@cellSize: 40px;
@obstacleColor: blue;

body {
    background-color: antiquewhite;
}

table {
    border: 1px dotted red;
    background-color: lightgreen;

    tr {
        td {
            width: @cellSize;
            height: @cellSize;
        }
    }
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.obstacle {
    background-color: @obstacleColor;
}

.player {
    background-image: url("../images/kenny.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.enemy {
    background-image: url("../images/kenny.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

.bomb {
    background-image: url("../images/bomb.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
